body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

li, .movie {
    height: 500px;
    transition: 150ms ease-in-out;
    outline: 1px solid rgba(244,244,244, 0.4);
}
.movie:hover {
    background-color: rgba(244,237,71, 0.4);
}
.movie img {
    height: 440px;
}

.search {
    margin: 25px 0;
}
